body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(32, 31, 30, 0.812);
  color: #fff;
}

/* home style */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.top-left-image {
  position: absolute;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
  bottom: 550px;
  left: 0;
}

.header {
  background-color: #242121;
  padding: 20px 0;
  text-align: center;
  height: 94px;
}


.nav {
  display: flex;
  justify-content: center;
 margin-top: 30px;
}

.nav-link {
  font-weight: bolder;
  color: #534f4f;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  color: rgb(222, 164, 57);
  border-radius: 5px;
}


.sort-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  
  
}

.sort-buttons button {
  color: #555151;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.sort-buttons button:hover {
  background-color: #e0e0e0;
}

.select-genre {
  position: absolute;
  top: 30%; /* Positions the top edge of the element at 50% from the top of the nearest positioned ancestor */
  left: 55%; /* Positions the left edge of the element at 50% from the left of the nearest positioned ancestor */
  transform: translate(-50%, -50%); /* Translates the element back by 50% of its own width and height to center it precisely */
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  color: #534f4f;
}

.search-input {
  position: absolute;
  top: 30%; /* Positions the top edge of the element at 50% from the top of the nearest positioned ancestor */
  left: 43%; /* Positions the left edge of the element at 50% from the left of the nearest positioned ancestor */
  transform: translate(-50%, -50%); /* Translates the element back by 50% of its own width and height to center it precisely */
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  color: #534f4f;
}

h1 {
  text-align: center;
}

.small-image {
  width: 250px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image fits well within the specified width */
}


ul {
  list-style: none;
  padding: 0;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

li {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

li:hover {
  box-shadow: 0 4px 8px rgba(24, 24, 24, 0.1);
}


a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: rgb(198, 191, 178);
  margin-bottom: 10px;
}

/* show style */
.show-container {
  padding: 20px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Column layout for overall container */
  position: relative;
}

.back-to-list-button {
  width: 100px;
  align-self: center;
  height: 35px;
 }

.show-title{
  position:absolute;
  margin: 80px;
  margin-left: 5px;
}


.season-number {
  margin: 100px;
  margin-left: 5px;
}

.description {
  max-width: 60%; /* Ensure description doesn't take too much width */
  margin-left: 800px; /* Space between image and description */
  margin-top: -150px;
}

.show-image {
  width: 200px; /* Adjust as needed */
  height: auto;
  margin-top: -250px; /* Move the image 20px up */
}

.season-button {
  position: absolute;
  display:grid;
  border: 1px solid #121212;
  border-radius: 2%;
  background-color: #121212;
  color: white;
  font-weight: bolder;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 40px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.seasons-list {
  list-style-type: none;
  padding: 0;
}

.season-item {
  margin-bottom: 20px;
}

.episode-list {
  list-style-type: none;
  padding: 0;
}

.episode-item {
  margin-top: 40px;
}

.add-to-favorites-button,
.remove-from-favorites-button {
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
}
