body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(17, 24, 37);
  text-align: center;
  color: rgb(59, 66, 79);
  margin: 0;
  padding: 0; 
}



nav-bar {
  width: 100%;
  height: 60px; 
  background-color: rgb(59, 66, 79);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav-bar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
}


.block {
  flex: 1 1 200px;
  border:none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.block h3 {
  margin-top: 0;
}

.block p {
  margin: 0;
}

.block p {
  margin: 0;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0;
  position:static;
  margin-top: 100px;
  
}

.preview-image {
  max-width: 100%;
  height: auto;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.modal-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  background: grey;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.genre-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.genre-item h2 {
  margin: 10px 0;
}

.genre-item p {
  font-size: 14px;
  color: #666;
}

div {
  margin-bottom: 20px;
}