body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(32, 31, 30, 0.812);
  color: #fff;
  background-image: url(./assets/retro-microphone-notebook-computer-live-webcast-air-concept.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* home style */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.top-left-image {
  position: absolute;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
  bottom: 550px;
  left: 0;
  filter:inherit;
  filter: contrast(-1400);
}

.header {
  background-color: #040d2487;
  padding: 20px 0;
  text-align: center;
  height: 94px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav-link {
  font-weight: bolder;
  color: #fffafaf5;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  color: rgb(222, 164, 57);
  border-radius: 5px;
}

.sort-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sort-buttons button {
  color: #050505;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.sort-buttons button:hover {
  background-color: #e0e0e0;
}

.select-genre {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  color: #534f4f;
  padding: 10px 20px; /* Adjust padding as needed */
  max-width: 300px; /* Set a maximum width if necessary */
}


.search-input {
  position: absolute;
  top: 38%; 
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  color: #181717;
  height: 25px;
}

h1 {
  text-align: center;
}

.small-image {
  width: 250px; 
  height: auto; 
  object-fit: cover; 
}

ul {
  list-style: none;
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

li {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

li:hover {
  box-shadow: 0 4px 8px rgba(24, 24, 24, 0.1);
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: white;
  margin-bottom: 10px;
}

.previous-home {
  position: absolute;
  top: 32%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: black;
  padding: 10px 20px; 
  max-width: 300px; 
}

.next-home {
  position: absolute;
  top: 32%;
  right: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: black;
  padding: 10px 20px; 
  max-width: 300px; 
}

.details-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #282828;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}


/* show style */
.show-container {
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  position: relative;
}

.back-to-list-button {
  width: 100px;
  align-self: center;
  height: 35px;
}

.show-title {
  position: absolute;
  margin: 80px;
  margin-left: 5px;
}

.season-number {
  margin: 100px;
  margin-left: 5px;
}

.description {
  max-width: 60%; 
  margin-left: 800px; 
  margin-top: -150px;
  font-weight: bold;
}

.show-image {
  width: 200px; 
  height: auto;
  margin-top: -250px; 
}
.season-image {
  width: 200px; 
  height: auto;
  margin-top: 110px;
}

.season-button {
  position: absolute;
  display: grid;
  border-radius: 2%;
  background-color: #2b38a0;
  color: white;
  font-weight: bolder;
  width: 150px;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 40px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

.seasons-list {
  list-style-type: none;
  padding: 0;
}

.season-item {
  margin-bottom: 20px;
}

.episode-list {
  list-style-type: none;
  padding: 0;
}

.episode-item {
  margin-top: 40px;
}

.add-to-favorites-button,
.remove-from-favorites-button {
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
}

/* library style */

.favorites-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.favorites-title {
  font-size: 2.5em;
  margin: 20px 0;
  color: #fff;
}

.favorites-list {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.favorite-item {
  background-color: #040d2487;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.favorite-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.favorite-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.favorite-title {
  font-size: 1.5em;
  margin: 10px 0;
  color: #fff;
}

.favorite-episode {
  font-size: 1em;
  color: #ddd;
  margin-bottom: 15px;
}

.remove-favorite-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #534f4f;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-favorite-button:hover {
  background-color: #3a3a3a;
}


.previous {
  background-color: white;
  color: black;
  background:none;
}

.next {
  background-color: white;
  color: black;
  background: none;
  justify-content: space-between;
  margin-left: 10px;
}

.genre-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.genre-title {
  margin-top: 100px;
}
.genre-item h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.genre-item p {
  margin-bottom: 10px;
}

.genre-item button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .favorites-title {
    font-size: 2em;
  }

  .favorite-item {
    width: 90%;
  }
}


/* Media Queries */
@media (max-width: 1200px) {
  
  .description {
    margin-left: 600px;
  }
}

@media (max-width: 992px) {
  .description {
    margin-left: 400px;
  }
}

@media (max-width: 768px) {
  .description {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .season-number {
    margin-left: 200px;
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .show-title {
    margin-left: 200px;
  }
}

@media (max-width: 576px) {
  .top-left-image {
    width: 150px;
  }

  .select-genre {
    top: 30%; 
    left: 50%;
    width: 80%;
  }

  .search-input{
    top: 36%; 
    left: 50%;
    width: 80%;
  }
  .description {
    margin-left: 20px;
    max-width: 100%;
  }

  .show-image {
    margin-top: 20px;
  }
  .season-image {
    margin-top: 90px;
  }

  .back-to-list-button {
    width: 80px;
    height: 30px;
  }
}
